.container {
	padding-bottom: 4px;
	overflow: auto;

	&.fixedHeader {
		max-height: calc(100% - 48px); // height 100% - height Pagination

		thead {
			position: sticky;
			top: 0;
			z-index: 21;
		}
	}

	&::-webkit-scrollbar {
		width: 12px;
		height: 12px;
	}

	/* Track */
	&::-webkit-scrollbar-track {
		background: #f8f8f8;
	}

	/* Handle */
	&::-webkit-scrollbar-thumb {
		background: #ccc;
	}

	table,
	td,
	th {
		text-align: left;
	}

	table {
		border-collapse: collapse;
		border-spacing: 0 2px;
		width: 100%;
	}

	th,
	td {
		padding: 12px;
		// line-height: 18px;
		white-space: nowrap;
	}

	th {
		color: var(--light);
		font-size: 14px;
		font-weight: 600;
		white-space: nowrap;
		padding-right: 24px;

		&.checkBox {
			// display: flex;
			align-items: center;
			gap: 8px;
			// width: 100%;
		}

		&.textEnd {
			text-align: right;
		}

		&.textStart {
			text-align: left;
		}

		&.textCenter {
			text-align: center;
		}
	}

	thead {
		box-sizing: border-box;
		background: var(--primary);

		.fixedLeft,
		.fixedRight {
			background: var(--primary);
		}

		.fixedLeft {
			box-shadow: inset -2px 0 2px -2px rgba(0, 0, 0, 0.3);
		}

		.fixedRight {
			box-shadow: inset 2px 0 2px -2px rgba(0, 0, 0, 0.3);
		}
	}

	td {
		color: var(--neutrals-3);
		font-size: 14px;
		font-weight: 500;
		border-bottom: 1px solid var(--border-color);
		// background-color: var(--bg-light);

		.checkBox {
			display: flex;
			align-items: center;
			gap: 8px;
			width: 100%;
		}
	}

	tbody {
		.fixedLeft,
		.fixedRight {
			background: inherit;
		}
		// background-color: #fff;

		.selectedRow {
			background-color: #e2f1fb;
		}

		.fixedLeft {
			box-shadow: inset -2px 0 2px -2px rgba(0, 0, 0, 0.3);
		}

		.fixedRight {
			box-shadow: inset 2px 0 2px -2px rgba(0, 0, 0, 0.3);
		}
	}

	.checkbox {
		cursor: pointer;
		user-select: none;
		margin-right: 8px;
		width: 18px;
		height: 18px;
	}

	.tr_data:nth-child(even) {
		background-color: #f4f5f6;
	}

	.tr_data:nth-child(odd) {
		background-color: #fff;
	}
}

.stickyElement {
	position: sticky;
	z-index: 10;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.isTitleRow {
	@extend .stickyElement;
	top: 66px;
	background-color: #fff;
}

.fixedRight {
	@extend .stickyElement;
	right: 0;
	z-index: 20;
	box-shadow: inset 0px 2px 8px rgba(99, 99, 99, 0.2);
}

.fixedLeft {
	@extend .stickyElement;
	left: 0;
	z-index: 20;
}

.stickyHeader,
.stickyHeader1 {
	z-index: 30;
}

.title_check_box {
	display: flex;
	align-items: center;
	gap: 8px;
}
